body {
    min-width: 400px;
    max-width: 400px;
    padding: 10px;
}

.progress {
    height: 25px;
}

.progress-bar {
    font-weight: bold;
    line-height: 25px;
}

.alert {
    white-space: pre-wrap;
}
